body{
    background-color:beige;
}

nav{
    display:flex;
    justify-content:space-around;
    background-color:gray;
    padding:1em;
}

nav button{
    padding:1em;
    font-size:large;
    cursor:pointer;
}

.grid-container{
    margin-top:2em;
    gap:8px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    font-size:larger;
}

.grid-container div{
    /* border:1px solid red; */
    padding:1em;
}

.grid-container .game-title{
    text-align:center;
    font-size:2.5em;
    background-color:rgba(200,200,200,0.5);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #97fd6b; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}

.card{
    background-position:center;
    background-size:cover;
    height:700px;
    color:white;
}

.card span{
    background-color:rgba(0,0,0,0.7);
    font-size:x-large;
}




